In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
y = data.iloc[:,13]
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [4]:
data.shape

(10000, 14)

In [5]:
X = data.iloc[:,3:13]
y = data.iloc[:,13]

In [6]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [7]:
geo = pd.get_dummies(X['Geography'], drop_first=True)
gender = pd.get_dummies(X["Gender"], drop_first=True)

In [8]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [9]:
X.drop(['Gender', 'Geography'], inplace = True, axis = 1)
X = pd.concat([X, geo, gender], axis =1)
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=0)

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [12]:
X_train = sc.fit_transform(X_train)
X_train

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [13]:
X_test = sc.fit_transform(X_test)

In [14]:
!pip install keras

Requirement already satisfied: keras in c:\programdata\anaconda3\lib\site-packages (2.13.1)

In [15]:
!pip install tensorflow

Requirement already satisfied: tensorflow in c:\programdata\anaconda3\lib\site-packages (2.13.0)
Requirement already satisfied: tensorflow-intel==2.13.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow) (2.13.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.1.21 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (23.5.26)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (3.7.0)
Requirement already satisfied: libclang>=13.0.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (16.0.6)
Requirement already satisfied: numpy<=1.24.3,>=1.22 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.24.3)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (3.3.0)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (23.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (4.24.3)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (68.0.0)
Requirement already satisfied: six>=1.12.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (2.3.0)
Requirement already satisfied: typing-extensions<4.6.0,>=3.6.6 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (4.5.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.58.0)
Requirement already satisfied: tensorboard<2.14,>=2.13 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (2.13.0)
Requirement already satisfied: tensorflow-estimator<2.14,>=2.13.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (2.13.0)
Requirement already satisfied: keras<2.14,>=2.13.1 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (2.13.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (0.31.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\programdata\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.13.0->tensorflow) (0.38.4)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2.23.0)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (3.4.1)
Requirement already satisfied: requests<3,>=2.21.0 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2.31.0)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (0.7.1)
Requirement already satisfied: werkzeug>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2.2.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\programdata\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\programdata\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (4.9)
Requirement already satisfied: urllib3<2.0 in c:\programdata\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (1.26.16)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\programdata\anaconda3\lib\site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (1.3.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2023.7.22)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\programdata\anaconda3\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2.1.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\programdata\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (3.2.2)

In [16]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import PReLU,LeakyReLU,ELU
from keras.layers import Dropout

In [18]:
classifier = Sequential()
classifier.add(Dense(units=6, kernel_initializer="he_uniform", activation = 'relu', input_dim = 11))
classifier.add(Dense(units=6, kernel_initializer='he_uniform', activation = 'relu'))
classifier.add(Dense(units = 1, kernel_initializer='glorot_uniform', activation = 'sigmoid'))
classifier.compile(optimizer='Adam', loss='binary_crossentropy', metrics=['accuracy'])

In [20]:
model_history = classifier.fit(X_train, y_train, validation_split=0.33, batch_size= 10, epochs =100)

Epoch 1/100
536/536 [==============================] - 1s 1ms/step - loss: 0.5301 - accuracy: 0.7626 - val_loss: 0.4863 - val_accuracy: 0.7952
Epoch 2/100
536/536 [==============================] - 1s 987us/step - loss: 0.4705 - accuracy: 0.7970 - val_loss: 0.4621 - val_accuracy: 0.7959
Epoch 3/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4510 - accuracy: 0.7974 - val_loss: 0.4487 - val_accuracy: 0.7955
Epoch 4/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4388 - accuracy: 0.7990 - val_loss: 0.4385 - val_accuracy: 0.8005
Epoch 5/100
536/536 [==============================] - 1s 993us/step - loss: 0.4292 - accuracy: 0.8065 - val_loss: 0.4308 - val_accuracy: 0.8084
Epoch 6/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4209 - accuracy: 0.8162 - val_loss: 0.4241 - val_accuracy: 0.8186
Epoch 7/100
536/536 [==============================] - 1s 998us/step - loss: 0.4134 - accuracy: 0.8224 - val_loss: 0.4178 - val_accuracy: 0.8220
Epoch 8/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4070 - accuracy: 0.8257 - val_loss: 0.4129 - val_accuracy: 0.8239
Epoch 9/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4009 - accuracy: 0.8300 - val_loss: 0.4072 - val_accuracy: 0.8254
Epoch 10/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3958 - accuracy: 0.8304 - val_loss: 0.4015 - val_accuracy: 0.8289
Epoch 11/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3906 - accuracy: 0.8332 - val_loss: 0.3970 - val_accuracy: 0.8292
Epoch 12/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3869 - accuracy: 0.8336 - val_loss: 0.3918 - val_accuracy: 0.8296
Epoch 13/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3824 - accuracy: 0.8326 - val_loss: 0.3890 - val_accuracy: 0.8323
Epoch 14/100
536/536 [==============================] - 1s 997us/step - loss: 0.3782 - accuracy: 0.8352 - val_loss: 0.3864 - val_accuracy: 0.8292
Epoch 15/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3740 - accuracy: 0.8416 - val_loss: 0.3814 - val_accuracy: 0.8376
Epoch 16/100
536/536 [==============================] - 1s 1000us/step - loss: 0.3685 - accuracy: 0.8462 - val_loss: 0.3772 - val_accuracy: 0.8395
Epoch 17/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3622 - accuracy: 0.8505 - val_loss: 0.3766 - val_accuracy: 0.8413
Epoch 18/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3564 - accuracy: 0.8567 - val_loss: 0.3689 - val_accuracy: 0.8466
Epoch 19/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3507 - accuracy: 0.8572 - val_loss: 0.3672 - val_accuracy: 0.8451
Epoch 20/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3467 - accuracy: 0.8584 - val_loss: 0.3669 - val_accuracy: 0.8459
Epoch 21/100
536/536 [==============================] - 1s 999us/step - loss: 0.3441 - accuracy: 0.8597 - val_loss: 0.3647 - val_accuracy: 0.8478
Epoch 22/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3413 - accuracy: 0.8580 - val_loss: 0.3643 - val_accuracy: 0.8485
Epoch 23/100
536/536 [==============================] - 1s 977us/step - loss: 0.3401 - accuracy: 0.8567 - val_loss: 0.3646 - val_accuracy: 0.8485
Epoch 24/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3389 - accuracy: 0.8584 - val_loss: 0.3625 - val_accuracy: 0.8501
Epoch 25/100
536/536 [==============================] - 1s 994us/step - loss: 0.3376 - accuracy: 0.8617 - val_loss: 0.3633 - val_accuracy: 0.8512
Epoch 26/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3363 - accuracy: 0.8578 - val_loss: 0.3634 - val_accuracy: 0.8478
Epoch 27/100
536/536 [==============================] - 1s 977us/step - loss: 0.3361 - accuracy: 0.8606 - val_loss: 0.3618 - val_accuracy: 0.8516
Epoch 28/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3347 - accuracy: 0.8610 - val_loss: 0.3617 - val_accuracy: 0.8485
Epoch 29/100
536/536 [==============================] - 1s 987us/step - loss: 0.3344 - accuracy: 0.8597 - val_loss: 0.3621 - val_accuracy: 0.8489
Epoch 30/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3339 - accuracy: 0.8593 - val_loss: 0.3624 - val_accuracy: 0.8497
Epoch 31/100
536/536 [==============================] - 1s 981us/step - loss: 0.3331 - accuracy: 0.8619 - val_loss: 0.3611 - val_accuracy: 0.8535
Epoch 32/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3331 - accuracy: 0.8623 - val_loss: 0.3599 - val_accuracy: 0.8523
Epoch 33/100
536/536 [==============================] - 1s 976us/step - loss: 0.3325 - accuracy: 0.8602 - val_loss: 0.3623 - val_accuracy: 0.8501
Epoch 34/100
536/536 [==============================] - 1s 997us/step - loss: 0.3327 - accuracy: 0.8597 - val_loss: 0.3620 - val_accuracy: 0.8493
Epoch 35/100
536/536 [==============================] - 1s 989us/step - loss: 0.3324 - accuracy: 0.8615 - val_loss: 0.3620 - val_accuracy: 0.8516
Epoch 36/100
536/536 [==============================] - 1s 983us/step - loss: 0.3320 - accuracy: 0.8587 - val_loss: 0.3614 - val_accuracy: 0.8523
Epoch 37/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3316 - accuracy: 0.8619 - val_loss: 0.3636 - val_accuracy: 0.8504
Epoch 38/100
536/536 [==============================] - 1s 985us/step - loss: 0.3314 - accuracy: 0.8604 - val_loss: 0.3610 - val_accuracy: 0.8501
Epoch 39/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3312 - accuracy: 0.8615 - val_loss: 0.3626 - val_accuracy: 0.8493
Epoch 40/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3312 - accuracy: 0.8595 - val_loss: 0.3613 - val_accuracy: 0.8512
Epoch 41/100
536/536 [==============================] - 1s 986us/step - loss: 0.3306 - accuracy: 0.8638 - val_loss: 0.3616 - val_accuracy: 0.8489
Epoch 42/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3304 - accuracy: 0.8615 - val_loss: 0.3628 - val_accuracy: 0.8466
Epoch 43/100
536/536 [==============================] - 1s 990us/step - loss: 0.3301 - accuracy: 0.8636 - val_loss: 0.3602 - val_accuracy: 0.8493
Epoch 44/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3300 - accuracy: 0.8614 - val_loss: 0.3607 - val_accuracy: 0.8497
Epoch 45/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3296 - accuracy: 0.8643 - val_loss: 0.3607 - val_accuracy: 0.8512
Epoch 46/100
536/536 [==============================] - 1s 979us/step - loss: 0.3300 - accuracy: 0.8632 - val_loss: 0.3611 - val_accuracy: 0.8508
Epoch 47/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3297 - accuracy: 0.8621 - val_loss: 0.3618 - val_accuracy: 0.8512
Epoch 48/100
536/536 [==============================] - 1s 988us/step - loss: 0.3293 - accuracy: 0.8642 - val_loss: 0.3619 - val_accuracy: 0.8508
Epoch 49/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3294 - accuracy: 0.8621 - val_loss: 0.3601 - val_accuracy: 0.8531
Epoch 50/100
536/536 [==============================] - 1s 995us/step - loss: 0.3288 - accuracy: 0.8651 - val_loss: 0.3601 - val_accuracy: 0.8516
Epoch 51/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3286 - accuracy: 0.8628 - val_loss: 0.3607 - val_accuracy: 0.8527
Epoch 52/100
536/536 [==============================] - 1s 994us/step - loss: 0.3291 - accuracy: 0.8636 - val_loss: 0.3602 - val_accuracy: 0.8538
Epoch 53/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3281 - accuracy: 0.8647 - val_loss: 0.3612 - val_accuracy: 0.8527
Epoch 54/100
536/536 [==============================] - 1s 967us/step - loss: 0.3288 - accuracy: 0.8645 - val_loss: 0.3609 - val_accuracy: 0.8542
Epoch 55/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3288 - accuracy: 0.8638 - val_loss: 0.3611 - val_accuracy: 0.8516
Epoch 56/100
536/536 [==============================] - 1s 985us/step - loss: 0.3279 - accuracy: 0.8658 - val_loss: 0.3616 - val_accuracy: 0.8527
Epoch 57/100

536/536 [==============================] - 1s 988us/step - loss: 0.3279 - accuracy: 0.8645 - val_loss: 0.3627 - val_accuracy: 0.8550
Epoch 58/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3277 - accuracy: 0.8642 - val_loss: 0.3631 - val_accuracy: 0.8542
Epoch 59/100
536/536 [==============================] - 1s 994us/step - loss: 0.3280 - accuracy: 0.8658 - val_loss: 0.3630 - val_accuracy: 0.8501
Epoch 60/100
536/536 [==============================] - 1s 997us/step - loss: 0.3278 - accuracy: 0.8645 - val_loss: 0.3624 - val_accuracy: 0.8493
Epoch 61/100
536/536 [==============================] - 1s 978us/step - loss: 0.3278 - accuracy: 0.8649 - val_loss: 0.3624 - val_accuracy: 0.8516
Epoch 62/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3280 - accuracy: 0.8649 - val_loss: 0.3620 - val_accuracy: 0.8512
Epoch 63/100
536/536 [==============================] - 1s 977us/step - loss: 0.3277 - accuracy: 0.8670 - val_loss: 0.3611 - val_accuracy: 0.8542
Epoch 64/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3272 - accuracy: 0.8662 - val_loss: 0.3625 - val_accuracy: 0.8519
Epoch 65/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3279 - accuracy: 0.8638 - val_loss: 0.3620 - val_accuracy: 0.8527
Epoch 66/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3271 - accuracy: 0.8645 - val_loss: 0.3616 - val_accuracy: 0.8542
Epoch 67/100
536/536 [==============================] - 1s 979us/step - loss: 0.3272 - accuracy: 0.8662 - val_loss: 0.3627 - val_accuracy: 0.8516
Epoch 68/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3272 - accuracy: 0.8638 - val_loss: 0.3621 - val_accuracy: 0.8519
Epoch 69/100
536/536 [==============================] - 1s 992us/step - loss: 0.3269 - accuracy: 0.8658 - val_loss: 0.3617 - val_accuracy: 0.8523
Epoch 70/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3270 - accuracy: 0.8636 - val_loss: 0.3617 - val_accuracy: 0.8489
Epoch 71/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3271 - accuracy: 0.8671 - val_loss: 0.3618 - val_accuracy: 0.8519
Epoch 72/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3265 - accuracy: 0.8677 - val_loss: 0.3622 - val_accuracy: 0.8542
Epoch 73/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3272 - accuracy: 0.8658 - val_loss: 0.3619 - val_accuracy: 0.8504
Epoch 74/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3263 - accuracy: 0.8671 - val_loss: 0.3624 - val_accuracy: 0.8512
Epoch 75/100
536/536 [==============================] - 1s 998us/step - loss: 0.3263 - accuracy: 0.8651 - val_loss: 0.3624 - val_accuracy: 0.8504
Epoch 76/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3261 - accuracy: 0.8653 - val_loss: 0.3612 - val_accuracy: 0.8508
Epoch 77/100
536/536 [==============================] - 1s 984us/step - loss: 0.3263 - accuracy: 0.8630 - val_loss: 0.3624 - val_accuracy: 0.8516
Epoch 78/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3259 - accuracy: 0.8668 - val_loss: 0.3619 - val_accuracy: 0.8508
Epoch 79/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3264 - accuracy: 0.8645 - val_loss: 0.3625 - val_accuracy: 0.8523
Epoch 80/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3260 - accuracy: 0.8670 - val_loss: 0.3610 - val_accuracy: 0.8497
Epoch 81/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3265 - accuracy: 0.8645 - val_loss: 0.3618 - val_accuracy: 0.8508
Epoch 82/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3257 - accuracy: 0.8625 - val_loss: 0.3617 - val_accuracy: 0.8493
Epoch 83/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3261 - accuracy: 0.8662 - val_loss: 0.3617 - val_accuracy: 0.8504
Epoch 84/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3260 - accuracy: 0.8662 - val_loss: 0.3608 - val_accuracy: 0.8523
Epoch 85/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3258 - accuracy: 0.8642 - val_loss: 0.3628 - val_accuracy: 0.8531
Epoch 86/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3259 - accuracy: 0.8660 - val_loss: 0.3620 - val_accuracy: 0.8527
Epoch 87/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3257 - accuracy: 0.8655 - val_loss: 0.3614 - val_accuracy: 0.8501
Epoch 88/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3259 - accuracy: 0.8649 - val_loss: 0.3612 - val_accuracy: 0.8485
Epoch 89/100
536/536 [==============================] - 1s 985us/step - loss: 0.3253 - accuracy: 0.8677 - val_loss: 0.3627 - val_accuracy: 0.8527
Epoch 90/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3257 - accuracy: 0.8675 - val_loss: 0.3616 - val_accuracy: 0.8512
Epoch 91/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3254 - accuracy: 0.8662 - val_loss: 0.3623 - val_accuracy: 0.8478
Epoch 92/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3254 - accuracy: 0.8666 - val_loss: 0.3613 - val_accuracy: 0.8485
Epoch 93/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3261 - accuracy: 0.8677 - val_loss: 0.3617 - val_accuracy: 0.8516
Epoch 94/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3258 - accuracy: 0.8651 - val_loss: 0.3618 - val_accuracy: 0.8516
Epoch 95/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3248 - accuracy: 0.8658 - val_loss: 0.3618 - val_accuracy: 0.8504
Epoch 96/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3248 - accuracy: 0.8684 - val_loss: 0.3609 - val_accuracy: 0.8523
Epoch 97/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3250 - accuracy: 0.8670 - val_loss: 0.3645 - val_accuracy: 0.8527
Epoch 98/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3255 - accuracy: 0.8653 - val_loss: 0.3617 - val_accuracy: 0.8493
Epoch 99/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3254 - accuracy: 0.8664 - val_loss: 0.3616 - val_accuracy: 0.8478
Epoch 100/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3250 - accuracy: 0.8670 - val_loss: 0.3630 - val_accuracy: 0.8504

In [22]:
y_pred = classifier.predict(X_test)
y_pred
y_pred = (y_pred>0.5)
y_pred

63/63 [==============================] - 0s 544us/step

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [23]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_pred, y_test)
score

0.862

In [24]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[1532,   63],
       [ 213,  192]], dtype=int64)